
<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

    <head>

        <title>Review Page</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/signupstyles.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">              

    </head>

    <body>
        

        <div class="main-block">                        

            <form id="signupform" action="#" th:action="@{/complete}" th:object="${formdetails}" method="post">

                <h1>Get started with your account</h1>

                <p>Please review or fill in your details:</p>

                <div class="info">
                    <label for="firstname">&nbsp;First Name:</label>
                    <input type="text" name="firstname"  th:field="*{firstName}">
                    <label for="lastname">&nbsp;Last Name:</label>
                    <input type="text" name="lastname" th:field="*{lastName}">                    
                    <label for="address">&nbsp;Street Address:</label>
                    <input type="text" name="address" th:field="*{address}">                    
                    <label for="city">&nbsp;City:</label>
                    <input type="text" name="city" th:field="*{city}">
                    <label for="state">&nbsp;State:</label>
                    <input type="text" name="state"  th:field="*{state}">
                    <label for="zip">&nbsp;Zip/Postal Code:</label>
                    <input type="text" name="zip"  th:field="*{zip}">
                    <label for="dob">&nbsp;Date of Birth:</label>
                    <input type="text" name="dob"  th:field="*{dob}">
                    <label for="ssn">&nbsp;Social Security Number:</label>
                    <input type="text" name="ssn"  th:field="*{ssn}">                                        
                    <label for="email">&nbsp;Email Address:</label>
                    <input type="text" name="email" th:field="*{emailAddress}">                    

                    
                    <button id="submitbutton" type="submit">Submit</button>
                    <h3 th:text="${statusmessage}"/>
                    <input type="hidden" name="correlationID" th:field="*{correlationId}" />
                </div>

            </form>


        </div>


    </body>

</html>